.card {
  max-width: 540px;
  min-height: 308px;
  padding: 40px;
  margin-right: 20px;
  background-color: var(--color-primary-grey);
  box-sizing: border-box;
  border-radius: 20px;
}

.card:last-of-type {
  margin-right: 0;
}

.card__feature {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-text-secondary);
}

.card__title {
  margin: 20px 0 40px;
  padding: 0;
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  color: var(--color-text-primary);
}

.card__description {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-text-secondary);
}
