// fonts
$font-family: "Inter", Arial, sans-serif;

// colors
$primary-light: #fff;
$primary-dark: #222;
$primary-grey: #F8F8F8;

$text-primary: #111;
$text-secondary: rgba(17, 17, 17, .6);
$text-grey: rgba(255, 255, 255, .7);
$text-grey-secondary: rgba(17, 17, 17, .3);

$radio: #D9D9D9;
$radio-active: #212121;

// screen resolution
$tablet: 1100px;
$mobile: 745px;
$mobile-small: 425px;



