.title {
  font-size: 60px;
  line-height: 68px;
  font-weight: 600;
  color: var(--color-text-primary);
  max-width: 1103px;
  padding: 0;

  @media screen and (max-width: 1130px) {
    font-size: 33px;
    line-height: 37px;
    padding: 0 50px;
  }

  @media screen and (max-width: 745px) {
    font-size: 26px;
    line-height: 31.47px;
    padding: 0 20px;
  }
}
