.page {
  max-width: 1440px;
  min-width: 320px;
  background-color: $primary-light;
  margin: 0 auto;
  padding: 10px;
  font-family: $font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__wrapper {
  overflow: hidden;
}

.page__cards {
  margin: 120px auto 0;

  @media screen and (max-width: $tablet) {
    margin: 70px auto 0;
  }
}

.page__cards_place_upper {
  margin-top: 60px;
}

.page__title {
  margin: 120px auto;

  @media screen and (max-width: $tablet) {
    margin: 70px auto;
  }
}

.page__feedback {
  margin-bottom: 120px;

  @media screen and (max-width: $tablet) {
    margin-bottom: 70px;
  }
}


