.slider-cards {
  display: flex;
  justify-content: center;
  align-items: center;


  @media screen and (max-width: $mobile) {
    display: flex;
    width: 300px;
  }
}

.slider-cards__wrapper {
  margin-top: 30px;
  list-style: none;
  display: none;
  flex-direction: row;
  @include reset;

  @media screen and (max-width: $mobile) {
    display: flex;
    width: 300px;
  }
}

.slider-cards__pagination {
  margin-top: 390px;
  display: none;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $mobile) {
    display: flex;
  }
}

.slider-card {
  width: 300px;
  min-height: 284px;
  background-color: $primary-grey;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}

.slider-card_place_mockups {
  width: 260px;
  background-color: $primary-light;
}

.slider-card__bullet {
  width: 4px;
  height: 4px;
  background-color: #D9D9D9;
  border-radius: 50%;
  margin-right: 4px;

  &:last-of-type {
    margin-right: 0;
  }
}

.slider-card__bullet_active {
  background-color: #212121;
}
